<!DOCTYPE html>
<html>
  <head>
    <title>Galvanize Reads</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <header>
      <a href="/">
          <img src="http://cunvc.org/wp-content/uploads/2014/09/galvanize.jpg" alt="Galvanize Reads Logo"/>
          <h1>Galvanize Reads</h1>
      </a>
  </header>
  <main>
      {{{body}}}
  </main>
  </body>
</html>
